Repository Armor-test/file-app-418, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/unit-cloud, @Armor-test/dept-automation, @Armor-test/squad-apps, @Armor-test/squad-mobile, @Armor-test/team-notifications, @Armor-test/dept-release, @Armor-test/squad-payments, @Armor-test/team-security, @Armor-test/dept-notifications, @Armor-test/dept-api, @Armor-test/unit-governance, @Armor-test/squad-research, @Armor-test/dept-security, @Armor-test/dept-identity, @Armor-test/squad-tooling, @Armor-test/squad-search, @Armor-test/squad-performance, @Armor-test/dept-test, @Armor-test/squad-reporting, @Armor-test/dept-billing, @Armor-test/squad-cloud, @Armor-test/squad-frontend, @Armor-test/dept-logging, @Armor-test/team-research, @Armor-test/squad-qa, @Armor-test/dept-reliability, @Armor-test/squad-ux, @Armor-test/grp-search, @Armor-test/squad-api, @Armor-test/squad-ml, @Armor-test/team-core, @Armor-test/grp-payments, @Armor-test/grp-ui, @Armor-test/grp-storage, @Armor-test/squad-product, @Armor-test/squad-database, @Armor-test/unit-devops, @Armor-test/dept-data, @Armor-test/grp-integration, @Armor-test/unit-test, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/devops, @Armor-test/infra, @Armor-test/auth-team, @Armor-test/compliance

.github/CODEOWNERS:

# CODEOWNERS file for file-app-418
# Global owners - will be requested for all PRs
* @Armor-test/unit-cloud @Armor-test/dept-automation @Armor-test/squad-apps

# Directory ownership
/src/ @Armor-test/squad-mobile @Armor-test/team-notifications @Armor-test/dept-release
/services/ @Armor-test/dept-release @Armor-test/squad-payments @Armor-test/team-security
/extensions/ @Armor-test/dept-notifications @Armor-test/dept-automation
/internal/ @Armor-test/dept-api @Armor-test/unit-governance @Armor-test/squad-research
/controllers/ @Armor-test/dept-security @Armor-test/dept-identity
/pages/ @Armor-test/dept-identity @Armor-test/squad-tooling
/common/ @Armor-test/squad-mobile @Armor-test/squad-search
/utils/ @Armor-test/squad-performance @Armor-test/dept-api
/app/ @Armor-test/squad-mobile @Armor-test/dept-test
/security/ @Armor-test/squad-reporting @Armor-test/dept-billing @Armor-test/squad-cloud
/ui/ @Armor-test/squad-frontend @Armor-test/unit-cloud
/config/ @Armor-test/dept-logging @Armor-test/team-research
/pkg/ @Armor-test/squad-qa @Armor-test/dept-reliability @Armor-test/squad-ux

# File type ownership
*.sql @Armor-test/squad-cloud @Armor-test/dept-billing @Armor-test/grp-search
*.toml @Armor-test/squad-api @Armor-test/dept-automation
*.rs @Armor-test/squad-tooling @Armor-test/squad-ml
*.java @Armor-test/dept-notifications @Armor-test/team-core
*.js @Armor-test/grp-payments @Armor-test/squad-mobile @Armor-test/dept-test
*.sh @Armor-test/grp-ui @Armor-test/squad-payments
*.config @Armor-test/grp-storage @Armor-test/dept-billing
*.go @Armor-test/squad-qa @Armor-test/dept-security @Armor-test/dept-notifications
*.c @Armor-test/unit-cloud @Armor-test/dept-logging
*.py @Armor-test/squad-product @Armor-test/squad-database @Armor-test/unit-cloud
*.properties @Armor-test/squad-reporting @Armor-test/squad-ux
*.h @Armor-test/unit-devops @Armor-test/dept-data @Armor-test/grp-integration
*.scss @Armor-test/unit-test @Armor-test/dept-test
*.php @Armor-test/unit-cloud @Armor-test/dept-notifications

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
Dockerfile @Armor-test/devops @Armor-test/infra
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
/src/**/security/ @Armor-test/security @Armor-test/compliance

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-mobile, @Armor-test/team-notifications, @Armor-test/dept-release

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/unit-cloud, @Armor-test/dept-automation, @Armor-test/squad-apps

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/unit-cloud, @Armor-test/dept-automation, @Armor-test/squad-apps

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-product, @Armor-test/squad-database, @Armor-test/unit-cloud

Add src/index.js
  src/index.js
Owners: @Armor-test/grp-payments, @Armor-test/squad-mobile, @Armor-test/dept-test
